<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-element">
    <template>
    <style>
      :host {
        display: block;
      }
      .circle{
        width: 100px;;
        height: 100px;
        background-color: yellowgreen;
        border-radius: 100px;;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      slot{
        color: white;
      }
    </style>
    <h2>[[prop1]]</h2>
    

    <section class="circle"><slot></slot></section>
  </template>

    <script>
        /**
         * `initials-element`
         * Practica de Slots
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class InitialsElement extends Polymer.Element {
            static get is() {
                return 'initials-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Initials'
                    }
                };
            }
        }

        window.customElements.define(InitialsElement.is, InitialsElement);
    </script>
</dom-module>